//Devices
$mobile: 425px;
$phablet: 768px;
$tablet: 1024px;
$laptop: 1280px;

//Colors
$blue: #0089FF;
$light-blue: #3DA7FF;
$grey: #E5E5E5;

//Fonts
$font-body: "Estrangelo_Edessa";

//constants
$header-height: 40px;