@import '../helpers/_variables.scss';

@font-face {
  font-family: "Estrangelo_Edessa";
  src: url("../assets/Estrangelo_Edessa.ttf");
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-body, sans-serif;
}

html {
  box-sizing: border-box;
}