@import '../helpers/_mixins.scss';

.menu {
	z-index: 1;
	display: flex;

	.list-wrapper {
		position: relative;
		background: #FFFFFF;
		height: 100%;
		transition: all .3s;

		.list-head {
			height: 50px;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding: 0 12px;
			align-items: center;
			border-bottom: 1px solid $grey;

			.results {
				font-size: 20px;
			}

			#sort {
				border: 1px solid $blue;
				height: 25px;
				text-transform: lowercase;
				width: 125px;
				padding: 0 8px;
				border-radius: 4px;
			}
		}

		.shop-list {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: auto;
			height: calc(100% - 50px);
			width: 290px;
			margin-right: 4px;

			li {
				margin-bottom: 4px;

				&:last-child {
					margin-bottom: 0;
				}

				.item-info {
					display: flex;
					flex-wrap: no-wrap;
					align-items: center;
					min-height: 60px;
					margin-right: 4px;
					background: $wht-bg;
					border-top: 1px solid $grey;
					border-right: 1px solid $grey;
					border-bottom: 1px solid $grey;

					.icon {
						width: 30px;
						height: 30px;
						margin: 0 10px;
					}

					.text {
						width: 100%;
						font-family: $font-body;
						padding: 6px 0;

						.shop-name {
							text-transform: uppercase;
							font-size: 1.2em;
						}

						.border1 {
							background: $grey;
							width: 70%;
							height: 1px;

							.border2 {
								background: $blue;
								width: 30%;
								height: 100%;
							}
						}

						.cuisine-list {
							text-transform: lowercase;
							color: $blue;
							font-size: .9em;
						}
					}
				}
			}

			.credit{
				font-size: .6em;
			}
		}

		@media (min-width: #{$phablet}) {		
			&.hidden {
				margin-left: -294px;
			}
		}

	}

	.toggle {
		width: 40px;
		height: 40px;

		input {
			display: none;
		}

		.toggle-label {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
			padding: 6px 0;
			background: $blue;

			div {
				width: 30px;
				height: 4px;
				background: #fff;
				margin: auto;
				border-radius: 3px;
				transition: all .3s;
			} 
		}

		input[type="checkbox"]:checked+label {
			.bar_1 {
				transform: translateY(9px) rotate(-45deg);
			}
			.bar_2 {
				opacity: 0;
			}
			.bar_3 {
				transform: translateY(-9px) rotate(45deg);
			}
		}
	}

	@include lg-mobile {
		.list-wrapper {
			height: calc(100% - 40px);
			margin-top: 40px;

			.list-head {
				border-top: 1px solid $grey;
			}

			&.hidden {
				margin-left: -294px;
			}
		}

		.toggle {
			display: none;
		}
	}

	@include mobile {	
		width: 100%;
		
		.list-wrapper {
			height: calc(100% - 40px);
			margin-top: 40px;
			width: 100%;

			.list-head {
				border-top: 1px solid $grey;
			}

			.shop-list {
				width: calc(100% - 12px);
				margin-left: 8px;

				li {
					.item-info {
						border-left: 1px solid $grey;
					}
				}
			}

			&.hidden {
				margin-left: -100%;
			}
		}

		.toggle {
			display: none;
		}
	}
}

/* width */

::-webkit-scrollbar {
  	width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  	background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #A8A8A8;
	&:hover {
	background: #969696;
	}
}
