 /*------------Element Borders*/
html, body, #root, .app, .content, .side-content {
  height: 100%;
}

 /*------------Content Styling*/
.app {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
}

.side-content {
	display: flex;
	flex-direction: row;	
}

.side-content .button-wrapper .icon {
	height: 50px;
	width: 50px;
	position: absolute;
	z-index: 1;
	display: flex;
	cursor: pointer;
}


.side-content .button-wrapper .icon:hover {
	background-color: #282828;
}

.side-content .button-wrapper .icon i {
	font-size: 25px;
	color: #f78fa7;
	margin: auto;
}

header {
	height: 50px;
	background-color: #3d3d3d;
	display: flex;
}

header h1 {
	margin: auto;
	text-align: center;
	color: white;
}

#map {
	flex-grow: 1;
}

#fill-error {
	flex-grow: 1;
	background-color: #ffd8d1;
}

#fill-fetch {
	flex-grow: 1;
	background-color: #d7ffd1;
}

 /*------------List Styling*/
#list {
	width: 200px;
	height: 100%;
}

#list .shop-list {
	list-style: none;
	padding: 0px;
	overflow: auto;
	height: 100%;
	margin: 0;
	background-color: #636363;
}

#list header {
	display: flex;
	background-color: #f78fa7;
}

#list h2 {
	margin: auto;
	text-align: center;
	color: white;
}

#list .input-wrapper {
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
}

#list .input-wrapper input {
	height: 100%;
	width: 153px;
	border: none;
	padding: 0;
	padding-left: 12px;
}

#list .input-wrapper .filter-button {
	background-color: #f9a7ba;
	height: 100%;
	width: 100%;
	display: flex;
	cursor: pointer;
}

#list .input-wrapper .filter-button:hover {
	background-color: #f57794;
}

#list .input-wrapper .filter-button i {
	margin: auto;
	color: white;
}

#list .list-wrapper {
	height: calc(100% - 80px);
}

#list .input-wrapper input {
	background-color: #f9a7ba;
}

#list li {
	display: flex;
	height: 40px;
	margin: 8px;
	background-color:  #282828;
	border-radius: 3px;
	cursor: pointer;
}

#list li p {
	font-size: 13px;
	margin: auto;
	margin-left: 12px;
	color: #f78fa7;
}

 /*------------Scrollbar Styling*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(61, 61, 61, 0.6); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(247,143,167); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(244,95,130); 
}

#infowindow {
	max-width: 140px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#infowindow .info {
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 60px;
}

#infowindow h3 {
	margin-top: 8px;
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 1px solid #eee;
}

#infowindow h4 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 12px;
}

#infowindow .rating {
	margin: auto;
	text-align: center;
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 7px;
}

#infowindow .rating p {
	margin: auto;
	color: white;
	font-weight: 900;
	font-size: 25px;
}

#infowindow .icon-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

#infowindow .icon-wrapper a {
	margin: auto;
}

#infowindow .icon-wrapper a .icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

 /*------------Device Scaling*/
 /*------------Medium*/
@media screen and (max-width: 700px)  {
	.side-content {
		position: absolute;
		z-index: 1;
	}

	.side-content .button-wrapper .icon {
		background-color: #282828;
	}

	#list .shop-list {
		background-color: rgba(61, 61, 61, 0.6);
	}

	#list li {
		background-color: rgba(40, 40, 40, 0.9);
	}
}

/* ------------Large*/
@media screen and (min-width: 701px){

}